		<footer>
			<div class="container-fluid"> 
				<hr />	2016 footerNote 
				<a href="#" target="_blank"> someLink </a>
			</div><!-- container-fluid -->
		</footer>

		</div><!-- container -->

	</body>

</html>