<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />		
		<link rel="stylesheet" href="/css/styles.css" />		
	</head>	

	<body>	

		<div class="container">

			This is rendered via the EJS view engine.

			<!-- REMEMBER: contain js code inside  <%  %> and use <%=  %> for passing vars -->

			<br /> It is now served with EJSindex.ejs from folder 'views'.
			<br /> This is done with <code>app.set('view engine', 'ejs');</code> in server.js.

		</div>

	</body>

</html>
